title:               Rohan Mahnot
include:             ['_pages', '_notes']

url:                 "https://mahnotrohan.github.io"
baseurl:             ''

use_html_extension:  false

open_external_links_in_new_tab: true

embed_tweets: false

permalink:           pretty
relative_permalinks: false

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /notes/:slug/

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note" 
