<div>
    <a href="{{ site.baseurl }}/"
       style="margin-right: 15px;
              font-size: 1.4rem;
              text-decoration: underline;
              font-weight: 700;">
        Rohan Mahnot
    </a>
    <br>

    <a href="{{ site.baseurl }}/bookshelf" style="margin-right: 15px;">Bookshelf</a>
    <a href="{{ site.baseurl }}/blog" style="margin-right: 15px;">Blog</a>
    <a href="{{ site.baseurl }}/about" style="margin-right: 15px;">About Me</a>
    <a href="{{ site.baseurl }}/commonplace-notes" style="margin-right: 15px;">Commonplace Notes</a>
</div>
