{%- assign n = include.note -%}
{%- assign rt = n.content | strip_html | number_of_words | divided_by: 220.0 | ceil -%}
{%- if rt < 1 %}{% assign rt = 1 %}{% endif -%}
<a class="writing-row" href="{{ n.url | relative_url }}">
  <span class="writing-marker" aria-hidden="true"></span>
  <span class="writing-copy">
    <span class="writing-title">{{ n.title }}</span>
    {%- if n.description %}<span class="writing-description">{{ n.description }}</span>{% endif -%}
  </span>
  <span class="writing-meta"><time datetime="{{ n.date | date_to_xmlschema }}">{{ n.date | date: "%d %b" }}</time> &middot; {{ rt }} min</span>
</a>
