{%- assign recent = site.notes | sort: "date" | reverse -%}
<div class="recent-block">
  <span class="recent-kicker">From the notebook</span>
  <h2>Recent writing</h2>
  <ol>
    {%- for n in recent limit: 4 -%}
    <li>
      <a href="{{ n.url }}">
        <span class="recent-title">{{ n.title }}</span>
        <time datetime="{{ n.date | date_to_xmlschema }}">{{ n.date | date: "%b %y" }}</time>
      </a>
    </li>
    {%- endfor -%}
  </ol>
  <a class="recent-more" href="{{ site.baseurl }}/blog">All writing</a>
</div>
